# IMPORTAR LIBRERIAS

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests

In [21]:
!ls

Data                       WEB Scraping.ipynb
DataFrame cleaning.ipynb   __pycache__
Mt_Everest_Ascent_Data.csv main.py
README.md                  src
Visualización.ipynb

In [22]:
!pwd

/Users/jaimecabanyes/Desktop/IRON_HACK/Trabajos IH/W3

In [23]:
ascensos_everest = pd.read_csv("Mt_Everest_Ascent_Data.csv")

# CONOCER EL DATASET

In [24]:
def column_cleaning(df):
    df.columns = [col.strip().replace(" ", "_") for col in df.columns]
    return df

In [25]:
def separación_year(year_season):
    return year_season.split()[0]

In [26]:
def separación_season(year_season):
    return year_season.split()[1]

In [27]:
def separación_Date(day_month):
        return day_month.split("-")[1]

In [28]:
def separación_Date1(day_month):
        return day_month.split("-")[0]

In [29]:
def replacements(df):
    df = df.replace('Y','Yes')
    df.Age = df["Age"].replace(0, "NaN")
    df.Dth = df['Dth'].replace('.','No')
    return df

In [30]:
def escoger_columnas(df):
    df = df[['Peak', 'Name', 'Citizenship', 'Sex', 'Age',
       'Oxy', 'Dth', 'Host', 'Year', 'Season', 'Month', 'Day','Time']]
    return df

In [31]:
def cleaning_dataframe(df):
    df = column_cleaning(df)
    df = replacements(df)
    df["Season"] = df["Yr/Seas"].apply(separación_season)
    df["Year"] = df["Yr/Seas"].apply(separación_year)
    df["Month"] = df.Date.apply(separación_Date)
    df["Day"] = df.Date.apply(separación_Date1)
    df = escoger_columnas(df)
    return df

In [32]:
df_final = cleaning_dataframe(ascensos_everest)

In [33]:
cleaning_dataframe(ascensos_everest)

,Peak,Name,Citizenship,Sex,Age,Oxy,Dth,Host,Year,Season,Month,Day,Time
0,EVER,Tenzing Norgay,India,M,39,Yes,No,Nepal,1953,Spr,May,29,11:30
1,EVER,Edmund Percival Hillary,New Zealand,M,33,Yes,No,Nepal,1953,Spr,May,29,11:30
2,EVER,Juerg P. Marmet,Switzerland,M,28,Yes,No,Nepal,1956,Spr,May,23,14:00
3,EVER,Ernst Schmied,Switzerland,M,31,Yes,No,Nepal,1956,Spr,May,23,14:00
4,EVER,Adolf (Dolf) Reist,Switzerland,M,35,Yes,No,Nepal,1956,Spr,May,24,11:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10179,EVER,Xiao-Lin Li,China,M,35,Yes,No,China,2020,Spr,May,28,NaN
10180,EVER,Xin-Guo Li,China,M,NaN,Yes,No,China,2020,Spr,May,28,NaN
10181,EVER,Ping Liu,China,F,39,Yes,No,China,2020,Spr,May,28,NaN
10182,EVER,Ying Ma,China,F,42,Yes,No,China,2020,Spr,May,28,NaN
10183,EVER,Zhi-Gang Ru,China,M,35,Yes,No,China,2020,Spr,May,28,NaN

In [34]:
df_final.Age.unique()

array([39, 33, 28, 31, 35, 27, 25, 24, 26, 34, 32, 36, 42, 23, 'NaN', 30,
       29, 37, 21, 17, 41, 18, 22, 46, 49, 38, 50, 48, 44, 40, 47, 55, 45,
       43, 20, 19, 52, 60, 51, 56, 57, 53, 58, 54, 63, 61, 16, 62, 64, 65,
       59, 70, 15, 69, 66, 71, 68, 76, 75, 67, 13, 73, 80, 72],
      dtype=object)

In [35]:
df_final.to_csv("Data/ascensos_everest_final.csv")