In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_Mount_Everest_death_statistics"

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.content)

In [5]:
a = soup.find_all("table")

In [6]:
len(a)

3

# TABLE 1

In [7]:
table1 = a[0]

In [8]:
tbody1 = table1.find("tbody")

In [9]:
trs1 = tbody1.find_all("tr")

In [10]:
tr1 = trs1[1]

In [11]:
cols1 = tr1.find_all("td")

In [12]:
cols1[2].text.strip()

'2015 Mount Everest avalanches[27]'

In [13]:
def info_table1(row):
    
    info = dict()
    
    cols1 = row.find_all("td")
    
    info["Died"] = (cols1[0].text.strip())
    info["Date"] = int(cols1[1].text)
    return info

In [14]:
for i, row in enumerate(trs1):
    try:
        info_table1(row)
    except:
        print(i)

0

In [15]:
table1_ = pd.DataFrame([info_table1(row) for row in trs1[1:]])

# TABLE 2

In [16]:
table2 = a[1]

In [17]:
tbody2 = table2.find("tbody")

In [18]:
trs2 = tbody2.find_all("tr")

In [19]:
tr2 = trs2[1]

In [20]:
cols2 = tr2.find_all("td")

In [21]:
cols2[1].text.strip()

'111'

In [22]:
def info_table2(row):
    
    info = dict()
    
    cols2 = row.find_all("td")
    
    info["Nationality"] = (cols2[0].text.strip())
    info["Count"] = int(cols2[1].text)
    return info

In [23]:
for i, row in enumerate(trs2):
    try:
        info_table2(row)
    except:
        print(i)

0

In [24]:
table2_ = pd.DataFrame([info_table2(row) for row in trs2[1:]])

# TABLE 3

In [25]:
table3 = a[2]

In [26]:
tbody3 = table3.find("tbody")

In [27]:
trs3 = tbody3.find_all("tr")

In [28]:
tr3 = trs3[1]

In [29]:
cols3 = tr3.find_all("td")

In [30]:
cols3[1].text.strip()

'68'

In [31]:
def info_table3(row):
    
    info = dict()
    
    cols3 = row.find_all("td")
    
    info["Cause"] = (cols3[0].text.strip())
    info["Count"] = int(cols3[1].text)
    return info

In [32]:
for i, row in enumerate(trs3):
    try:
        info_table3(row)
    except:
        print(i)

0

In [33]:
table3_ = pd.DataFrame([info_table3(row) for row in trs3[1:]])

In [34]:
table1_

    Died  Date
0  18–22  2015
1     16  2014
2   8–12  1996
3      6  1974
4      6  1970